body {
 	padding-top: 60px;
}

@media (max-width: 979px)
body {
	padding-top: 0;
}

.footer{
	padding-top: 10px;
	padding-bottom: 10px;
	border-top: 1px solid #C9E0ED;
	font-size: 85%;
}

.right{
	text-align: right;
}

.grid-view .pagination {
height: 36px;
margin: 0 0 18px 0;
}

.no-display{
	display: none;
}

.constraint {
margin-top: 18px;
-webkit-margin-top-collapse: separate;
}

.view-code-textarea{
	height: 200px;
	width: 490px;
	font-family: "Lucida Console","Consolas","Courier New", Courier, monospace;
	resize: none;
}

.code-display{
	font-family: "Lucida Console","Consolas","Courier New", Courier, monospace;
}

.myBodybg {
	background-image: -ms-radial-gradient(center, ellipse cover, #FFFFFF 0%, #00A3A3 100%);
	background-image: -moz-radial-gradient(center, ellipse cover, #FFFFFF 0%, #00A3A3 100%);
	background-image: -o-radial-gradient(center, ellipse cover, #FFFFFF 0%, #00A3A3 100%);
	background-image: -webkit-gradient(radial, center center, 0, center center, 510, color-stop(0, #FFFFFF), color-stop(1, #00A3A3));
	background-image: -webkit-radial-gradient(center, ellipse cover, #FFFFFF 0%, #00A3A3 100%);
	background-image: radial-gradient(center, ellipse cover, #FFFFFF 0%, #00A3A3 100%);
	background-color: white;
	background-position: top left;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

/*over Ride*/
.navbar .nav > li {
	padding-right:10px;
	font-weight: bold;
}

.myWell {
	border: 0px solid;
	box-shadow: 2px 0px 7px #888888, -2px 0px 7px #888888, 0px -2px 7px #888888, 0px 2px 7px #888888;
	background-image: -webkit-linear-gradient(top, #333, #222);
    background-image: -webkit-gradient(linear, 0 0, 0% 100%, from(#444), to(#222));
    background-image: -moz-linear-gradient(top, #333, #222);
    background-image: -moz-gradient(linear, 0 0, 0% 100%, from(#444), to(#222));
	border-radius:13px;
						/*right side*/		 /*left side*/			/*top side*/		/*bottom side*/
	-webkit-box-shadow: 2px 0px 7px #888888, -2px 0px 7px #888888, 0px -2px 7px #888888, 0px 2px 7px #888888; /* Firefox 3.6 and earlier */;
	-webkit-border-radius:13px;
	-moz-box-shadow: 2px 0px 7px #888888, -2px 0px 7px #888888, 0px -2px 7px #888888, 0px 2px 7px #888888; /* Firefox 3.6 and earlier */;
	-moz-border-radius:13px;
	width: 500px;
	margin: auto;
	overflow: visible;
}

.myLoginTitle {
	margin-bottom: 20px;
	text-align: center;
}

.myRememberMelb {
	color: white;
}

.myUPTextField {
	height:40px;
	width:500px;
	font-weight: bold;
	font-size: 1.2em;
	text-align: center;
}

.myLoginPosbt {
	margin-top: 10px;
	position: relative;
	left:263px;
}
.myRememberMePos {

}
.loginMargin {
	padding-top: 10px;
	padding-bottom: 10px;
}
.upMargin {
	padding-top:0px;
}
.loginNotification {
	text-align: center;
}

table.templateFrame {
	margin: 0px;
}

tfoot td{
	border-top: 0px;
}