body {
 	padding-top: 60px;
}

@media (max-width: 979px)
body {
	padding-top: 0;
}

.footer{
	padding-top: 10px;
	padding-bottom: 10px;
	border-top: 1px solid #C9E0ED;
	font-size: 85%;
}

.right{
	text-align: right;
}

.grid-view .pagination {
height: 36px;
margin: 0 0 18px 0;
}

.no-display{
	display: none;
}

.constraint {
margin-top: 18px;
-webkit-margin-top-collapse: separate;
}

.view-code-textarea{
	height: 200px;
	width: 490px;
	font-family: "Lucida Console","Consolas","Courier New", Courier, monospace;
	resize: none;
}